@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
}

/* Nav style start */

nav{
    border-bottom: solid 1px black;
    border: none;
    
}

.nav-section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    margin: 0 150px;
}

.main-btn{
    background-color: white;
    padding: 17px 27px;
    border: solid black 1px;
    border-radius: 5px;
}

.main-btn:hover{
    background-color: black;
    color: white;
}

.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}



/* Banner style start */

.hero-bg{
    background-image: url(/assets/Hero-bg.png);
    height: 652px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.banner-h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    margin-bottom: 30px;
}

.banner-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
margin-bottom: 30px;
}

.hero-content{
    margin: 0 300px;
}

.banner-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    color: white;
    border: 1px solid black;
}

.banner-btn:hover{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 21px 24px;
    color: rgb(0, 0, 0);
}

.banner a {
    text-decoration: none;
}


/* Section 2 Started */

.info{
    min-height: 1393px;
    border: 0 solid red;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding-top: 20px;
    margin: 50px 150px;
}

.info-text{
    text-align: center;
    margin: 80px auto 40px;
    max-width: 900px;
    
}

.info-h2{
    
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
}

.info1-h2{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
margin-bottom: 20px;
}

.info1{
    display: flex;
    justify-content: space-between;
    border: black solid 2px;
    border: none;
    border-radius: 10px;
    align-items: center;
    margin: 0 80px;
    height: 336px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.infobox1{
    max-width: 40%;
    padding: 50px;
    
}

.infoboximg1{
    padding: 50px;
}



.info-p{
    margin-bottom: 20px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}

.info-btn{
    background-color: white;
    padding: 12px 20px;
    border: solid black 1px;
}


.info-details{
    margin-bottom: 40px;
}




/* info 2 */

.info2{
    display: flex;
    border: black solid 2px;
    border: none;
    border-radius: 10px;
    align-items: center;
    margin: 0 80px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.infobox2{
    max-width: 60%;
    padding: 50px;
}

.infoboxtext2{
    width: 58%;
}

.info-details2{
    margin-bottom: 40px;
}



/* Extra Gap Section */

.section-gap{
    margin: 20px 0;
}

.video{
    align-items: center;
    text-align: center;
    margin: 0 250px;
}

.video-box{
    width: 1140px;
    min-height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 0 auto;
}

.iframe1{
    border-radius: 16px;
    align-items: center;
    padding: auto;
}

.video-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 32px;

}

.section-gap2{
    margin-bottom: 150px;
    margin-top: 150px;
}

.card-box{
    text-align: center;
    margin: 0 250px;
}

.card{
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.card-1{
    width: 364px;
    height: 299px;
    /* border: 1px solid red; */
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.card-2{
    width: 364px;
    height: 299px;
    /* border: 1px solid red; */
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.card-3{
    width: 364px;
    height: 299px;
    /* border: 1px solid red; */
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.card1-content{
    padding: 42px;

}

.card2-content{
    padding: 42px;

}

.card3-content{
    padding: 42px;

}

.card-img{
    margin-bottom: 20px;
}

.card-h3{
    margin-bottom: 20px;
}

.card-p{
    margin-bottom: 20px;
}



/* Row Card Section */

.row-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1140px;
    height: 219px;
    margin: 0 auto;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.row-box{
    display: flex;
    padding: 40px;
    flex-direction: row;
    align-items: center;
}

.row-text{
    margin: 30px;
}

.row-text h2 {
    margin-bottom: 15px;
}

.row-text p {
    margin-bottom: 20px;
}

.row-text a {
    margin-top: 20px;
}

.row-gap{
    margin: 30px 0;
}

.row-gap2{
    margin: 70px 0;
}

.row-h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}

.row-p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.row-a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}


/* Newsletter */
.newsletter {
    width: 1140px;
    height: 313px;  
    border: 1px solid red;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(/assets/handshake.jpg);
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
}

.newsletter-content {
    color: white;
    text-align: center;
}


.form2{
    background-color: white;
    width: 548px;
    height: 50px;
    border-radius: 12px;
    text-align: left;
    padding-left: 30px;
}

.form-btn{
    padding: 17px 20px;
    background-color: white;
    color: black;
    border-radius: 12px;
}


/* footer */

/* footer bg start */

.footer-bg{
    height: 100px;
    /* border: red 1px solid; */
    background: rgba(13, 19, 33, 0.03);
    
}


.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
    height: 100px;
}
